.titulo {
	text-align: center;
	color: white;
}

	body {
		background: url("Halloween1.jpg") center;
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
		display: flex;
	}

	.Cuadro_anuncios {
		flex: 1;
		flex-direction: row;
		flex-wrap: wrap;
	}

	img {
		width: 20em;
		height: 20em;
		border-radius: 10em 10em 10em;
		align-items: center;
	}
	.Anuncio {
		flex: 1;
		border: red 2px solid;
		padding: 10px;
		margin: 20px;
		color: white;

	}
	.Anuncio:hover {
		background: url("fondo-negro-fa.jpgntasmas");
		color: orange;
		font-weight: bold;
	}


	.Anuncio:hover img {
		align-items: center;
		width: 30em;
		height: 30em;
	}				
