
body {
	background-color: black;
	background-image: url(https://images7.alphacoders.com/351/thumb-1920-351724.jpg);
	background-repeat: no-repeat;
	display:flex;
	font-family: serif;

}
	.formstruct {
		display: flex;
		text-align: center;
		color: beige;
		flex-direction: row;
		flex-wrap: wrap; 
		column-gap: 2;
		}
			
			.D {
				width: 50%;
				color: rgb(89, 252, 20);
				text-transform: capitalize;
			}
				.I {
					width: 50%;
					color: rgb(89, 252, 20);
				}
					input {
						background-color: rgb(131, 131, 131);
						margin: 3px;
					}
						input:hover {
							background-color: black;
							color: rgb(89, 252, 20);
						}
							input:visited {
								background-color: green;

							}
								.par1 {
									text-transform: uppercase;
									color: rgb(89, 252, 20);
									font-family: sans-serif;
								}

									.par2 {
										text-transform: capitalize;
										font-size: 0.5em;
										justify-content: center;
										text-align: center;
									}
										a {
											color: red;
										}

											a:hover {
												color: rgb(89, 252, 20);
											}
												a:visited {
													color: green;
												}
													.icono {
														  color: red;														  position: absolute;
														  margin-left: 2px;
														  margin-top: 2px;
														  width: 15px;
														  height: 15px;
														  border-radius: 50%;
														  border: solid 1px currentColor;
														}
																.icono:before {
															  content: '';
															  position: absolute;
															  left: 1px;
															  top: 1px;
															  width: 11px;
															  height: 11px;
															  border-radius: 85% 15%;
															  -webkit-transform: rotate(-45deg);
															          transform: rotate(-45deg);
															  border: solid 1px currentColor;
															}
																	.icono:after {

																	  position: absolute;
																	  top: 7px;
																	  width: 15px;
																	  height: 1px;
																	  background-color: currentColor;
																	}
																		button {
																			background-color: black;
																			padding: 5px;	

																		}
																	

			


			



