body {
	background-image: url(https://wallpapertops.com/walldb/original/c/6/e/207314.jpg);
	background-repeat: no-repeat;
	background-color: black;
	display: flex;
	text-align: center;
	
}

	p {
		color: darkred;
		font-size: 13em;



	}
		input {
			width: 10em;
			height: 5em;
			background-color: darkgray;
			
		}

		input:hover {
			background-color: black;
			color: red;
		}