
/*
ul {
	width: 180px;
	list-style: none;
	margin: 0;
	padding: 0;
}
	ul li {
		border-bottom: 1px solid black;
		border-top: 1px solid #FFF;
		padding: .2em 0 .2em .5em; 

	}
	*/
body {
	
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    font-family: Arial;
    color:rgb(11, 214, 38);

 }
 nav {
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: row;
	 justify-content: center;
 }
	.menu {
		text-align: center;
		color: gray;
		padding-left: 3em;
		padding-right: 3em;
		padding-top: 1em;
		padding-bottom: 1em;
		margin: 0.2em;

	}
		.menu a {
			text-decoration: none;
			color: lime;
		}
			.img1 {
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				flex-direction: row;
			}

				header {
					font-size: 25px;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
				}
	
	
				        a:hover {
				            color: rgb(11, 214, 38);

				        }

					            footer {
					            
					                font-size: 20px;
					           
					           
					            }
    

	
