body {
	background-color: black;
	background-image: url(https://images7.alphacoders.com/351/thumb-1920-351724.jpg);
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;


}
	div {
		display: flex;
		text-align: center;
		color: beige;

		}
		
			input:hover {
				background-color: black;
				color: rgb(89, 252, 20);
			}
				.Url {
					width: 25em;
				}
					.phone {
						width: 15em;
					}
						.search {
							width: 25em;

						}
						.send {
							width: 5em;
							height: 3em;
						}
			

			


			



